
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>

<body>
  <%= render 'nav' %>

  <div class="container">
    <h1>Bowties</h1>

    <div class="bowties">

    </div>

    <<%= render 'modal' %>

  </div>

</body>






